<h1>Edit post</h1>
<form action="/posts/<%= post.id %>?method_PUT" method="POST">
    <div>
        <input type="text" name="title" value="<%= post.title %>" id="">
    </div>
    <div>
        <input type="text" name="price" value="<%= post.price %>" id="">
    </div>
    <div>
        <textarea name="description" id=""><%= post.description %></textarea>
    </div>
    <div>
        <input type="text" name="location" value="<%= post.location %>">
    </div>
    <div>
        <input type="submit">
    </div>
</form>