<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {

        width: 400px;
        height: 300px;
    }

    .marker {
        background-image: url('/images/mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
</style>
<h1><%= post.title%></h1>
<div>Post price: <%= post.price%></div>
<div>location: <%= post.location%></div>
<div>description: <%= post.description%></div>
<div id="map"></div>
<div><a href="/posts/<%= post.id%>/edit">edit post</a></div>
<% post.images.forEach((image)=>{%>
<img src="<%=image.url%>" alt="" width="200px" />
<%})%>

<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <div>
        <input type="submit" value="delete">
    </div>
</form>

<script>
    var post =<%- JSON.stringify(post) %>;
    mapboxgl.accessToken = 'pk.eyJ1IjoicGhkbSIsImEiOiJjazB3OGJ2cTEwYzRnM2RueHV4MzV1ZXZyIn0.IbeQuYP0AUN4jrCyjZwcaA';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: post.coordinates,
        zoom: 7
    });

    var el = document.createElement('div');
    el.className = 'marker';
    new mapboxgl.Marker(el)
        .setLngLat(post.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML('<h3>' + post.title + '</h3><p>' + post.location + '</p>'))
        .addTo(map);


</script>