<h1><%= post.title%></h1>
<div>Post price: <%= post.price%></div>
<div>location: <%= post.location%></div>
<div>description: <%= post.description%></div>
<div><a href="/posts/<%= post.id%>/edit">edit post</a></div>
<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <div>
        <input type="submit" value="delete">
    </div>
</form>